<div class="jumbotron">
  <img src="http://i.imgur.com/iOzRB2V.png" alt="Burning Airplanes" width="750" height="250"/>


</div>
<hr>
<% if @current_user.present? %>
  <% if  @current_user.user_type == 0 %>
      you are an admin
        <%= link_to "Create Flight", new_flight_path %>
          <%= link_to "Create Plane", new_plane_path %>
  <% else %>
      welcome passenger
  <% end %>
<% end %>
