<hr>
<DIV>WELCOME BRO
</DIV>
<hr>
<% if @current_user.present? %>
  <% if  @current_user.user_type == 0 %>
      you are an admin
        <%= link_to "Create Flight", new_flight_path %>
          <%= link_to "Create Plane", new_plane_path %>
  <% else %>
      welcome passenger
  <% end %>
<% end %>

<h1>FLIGHTS</h1>
<% @flights.each do |f| %>
 <p><%= f.name  %></p>
<% end %>

<h1>PLANES</h1>
<% @planes.each do |p| %>
<p><%=  p.name %></p>
<% end %>
