/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


.jumbotron {
   margin: 0 auto;
   text-align: center;
   background-color: black;
   opacity: 0.7;
 }
.header {
   margin: 0 auto;
   text-align: center;
   border-radius: 5%;
 }

.navbar {
  font-size: 20px;
  padding: inherit;
  font-family: 'Oswald', sans-serif;
  text-align: right;
  color: white;
}

 .container {
   padding: 10px;
   font-family: 'Oswald', sans-serif;
 }
 .button {
   text-align: center;
   background-color: white;
   border: 3px solid orange;
   text-decoration: none;
   font-family: 'Oswald', sans-serif;
   display: inline-block;
   border-radius: 10%;
 }
 .button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: red;
    color: white;
}
 .login {
   text-align: right;
   max-width: 350px;
   padding: 5px;
   border: 5px solid black;
   border-radius: 3%;
   font-family: 'Oswald', sans-serif;
 }
 .signup {
   text-align: right;
   max-width: 350px;
   padding: 5px;
   border: 5px solid black;
   font-family: 'Oswald', sans-serif;
   border-radius: 3%;
 }
 .new-flight {
   max-width: 350px;
   text-align: right;
   border: 5px solid black;
   font-family: 'Oswald', sans-serif;
   border-radius: 3%;
 }
 #reservations {
   border: 5px solid black;
   font-family: 'Oswald', sans-serif;
   border-radius: 3%;
 }

 #resultsTable {
   border: 2px solid black;
   font-family: 'Oswald', sans-serif;
   border-radius: 3%;
 }

 #resBoard {
   text-align: center;
   max-width: 920px;
   font-family: 'Oswald', sans-serif;
   padding: 10px;
   margin: auto;

 }
 .seats {
   text-align: center;
    border: 2px solid black;
 }

 .col-md-1 {
   border: 2px solid black;
   border-radius: 10%;
   padding: 5px;
   margin: 0 auto;
   text-align: center;
 }
